@media screen and (max-width:480px) {
 
    .banner{
     max-width: 100%;
     height: auto;
     height: 60vh;
     background-attachment:scroll;
     background-repeat: no-repeat;
     background-size: cover;
    }
    .banner-text{
      font-size: 20px;
      line-height:350px;
    }
    .meddle{
      width: 100%;
      height: 1100px;
    }
    .meddle h1{
      font-size: 35px;
    }
    .meddle-box{
     width: 100%;
     height: 800px;
     display: block;
    }
    .meddle-box1{
     width: 100%;
     height: 400px;
    }
    .meddle-box1 img{
       width: 250px;
    }
    .meddle-box2{
      width:100%;
      height: 400px;
      margin-bottom: 200px;
    }
    .box2-text h3{ 
     color: #696969;
     font-size: 25px;
     text-align: center;
   }
    .box2-text p{
     color: #808080;
     font-size: 18px;
     font-family: 標楷體;
     padding:20px;
     }
     .box2-bottom-text p{
     font-size: 13px;
     text-align: center;
     color:#065e81;
     }
     .box2-bottom-btn{
      display:flex;
      background-color: #696969;
     }
     .box2-bottom-btn input{
      background-color: #065e81;
    }
    .meddle-1{
      height:600px ;
      opacity:1;
    }
    .card{
     width: 33%;
     height:250px;
     left: 1%;
    }
    .card1{
     width: 33%;
     height:250px;
     left: 35%;
    }
    .card2{
     width:33%;
     height:250px;
     left:69%;
    }
    .card-text h3{
      text-align: center;
      line-height: 25px;
      font-size: 15px;
    }
    .card-p p{
      font-size: 10px;
      text-align: center;
    }
    .icon{
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 20px;
    }
    .meddle-2{
      width: 20%;
      height:800px;
    }
    .meddle-2-text{
     text-align: center;
    }
    .meddle-2-text1{
    width: 300px;
    padding-left: 20px;
    }
    .video{
      width:300px;
      height:160px;
      
      padding-bottom: 0px;
      padding-top: 100px;
      padding-left: 40px;
    }
    .bottom{
      width: 100%;
      height:800px;
    }
    .botoom-text{
    
    }
    .bottom-text h1{
     text-align:center;
     font-size: 30px;
     margin-bottom: 50px;
    }
    .bottom-img-text h3{
      font-size: 25px;
    }
   .bottom-img{
     width: 100%;
     height: 500px;
     display: block;
     padding-left:15%;
   }
   .bottom-img-text{
    border: 10px solid rgb(31, 79, 113);
    width: 250px;
    display: block;
    margin-top: 20px;
    box-shadow: 5px 5px black;
   }
   .bottom-img-text img{
     width:150px !important;
   }
   .footer{
    width: 100%;
   }
   .footer-title{
    width:100%;
   }
   .footer-title h1{
     font-size:30px;
   }
   .footer-link{
    width:100%;
    display: block;
    padding-left:10%;
   }
   .footer-Hexagon{
    margin-top: 30px;
  }
  .contect{
    margin-top:50px;
    width: 100%;
    height: 465px;
  }
  }
