*,*:after,*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
  max-width: 100%;
  height:auto;
  background:linear-gradient(170deg,transparent 70%, white 30%) right center/100% 100%,
  url("./圖片/backimg.png") left center /auto auto;
  opacity: 0.7;  
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: center;
}
.banner-text{
 text-align: center;
 line-height: 600px;
 color: white;
 position: relative;
 font-size: 30px;
 
}
.banner-text::after{
  content: "";
  position: absolute;
  background: rgb(243, 5, 5);
  top: 40%;
  left: 40%;
  height: 3px;
  width: 15%;
}
.banner-text::before{
  content: "";
  position: absolute;
  background: rgb(243, 5, 5);
  top: 60%;
  left: 45%;
  height:3px;
  width: 15%;
}
.meddle{
  max-width: 100%;
  height:800px;
}
.meddle-text{
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 35px;
}
.meddle-text h1{
  background: linear-gradient(45deg, #bfdae3	, #00bfff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 40px;
}
.meddle-box{
  display: flex;
  max-width: 100%;
  height:700px;
}
.meddle-box1{
 width: 45%;
 justify-content: center;
 align-items:flex-start;
 display: flex;
 padding-top: 10%;
}
.meddle-box1 img{
  border-radius: 20px 20px 20px 20px;
  border: 5px solid yellow;
  transition: 0.5s;
}
.meddle-box1 img:hover{
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
}
.meddle-box2{
  width:48%;
  justify-content: center;
  align-items:flex-start;
  display: flex;
  margin-left:2% ;
  padding-top: 10%;
}
.box2-text h3{
  color: #696969	;
  font-size: 30px;
  text-align: center;
}
.box2-text p{
  color: #808080	;
  font-size: 22px;
  font-family: 標楷體;
}
.box2-bottom-text p{
  color:#87ceeb;
  text-align: center;
}
.box2-bottom-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:center; 
  gap:10%;
}
.box2-bottom-btn input{
  border-radius:20px 20px 20px 20px;
  border: 1px solid bisque;
  color: #eef5f7;
  background-color:#00ced1;
  height:50px;
  transition: 0.5s;
  opacity: 0.6;
  width: 25%;
}
.box2-bottom-btn input:hover{
  opacity: 1;
  transform: scale(1.2);
  box-shadow: 5px 5px 3px gray;
}
.meddle-1{
  max-width:100%;
  height: 700px;
  background:linear-gradient(355deg,transparent 70%, white 30%) right center/100% 100%,
  url("./圖片/第三部分背景2.jpg") left center /auto auto;
  opacity: 0.6;
  position: relative ;  
  display: flex;
}
.card{
  height: 300px;
  width: 25%;
  background-color:#ecf2f3;
  opacity: 0.9;
  top: 50%;
  margin-left:8%;
  transition: 0.5s;
  float: left;
  position: absolute;
}
.card1{
  height: 300px;
  width:  25%;
  background-color:#ecf2f3;
  opacity: 1;
  top: 50%;
  margin-left:41%;
  transition: 0.5s;
  position: absolute;
}
.card2{
  height: 300px;
  width: 25%;
  background-color:#ecf2f3;
  opacity: 0.9;
  position: absolute;
  top: 50%;
  margin-left: 71%;
  transition: 0.5s;
}
.card-text h3{
  text-align: center;
  line-height: 50px;
  position: relative;
  font-size: 20px;
}
.card-p p{
  text-align: center;
  font-size: 15px;
}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.card:hover{
  top:45%;
  transform: scale(1.1);
}
.card1:hover{
  top:45%;
  transform: scale(1.1);
}
.card2:hover{
  top:45%;
  transform: scale(1.1);
}
.meddle-2{
  max-width: 100%;
  height:1000px;
}
.meddle-2-text{
  margin-left:45%;
  margin-right:auto;
  width:100%;
  height: 100px;
  margin-top: 150px;
}
.meddle-2-text h1{
  background: linear-gradient(45deg, #bfdae3	, #00bfff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 40px;
}
.meddle-2-box{
  width: 200px;
  height: 30px;
  background-color: #6495ed;
  display: block;
  margin: 0 0 0 20%;
  transition-duration:1s; 
  margin-bottom: 20px;
  position: relative;
}
.meddle-2-box p{
  text-align: center;
  line-height: 30px;
  color: white;
}
.meddle-2-box:hover{
  background-color: #ffa500;
}

.meddle-2-text1{
 height: 200px;
 width:60%;
 margin-left: 25%;
 margin-bottom: 20px;
 
}
.meddle-2-text1 h3{
  color: #696969	;
  font-size: 25px;
  padding-bottom: 20px;
}
.meddle-2-text1 h4{
  color: #696969	;
  font-size: 20px;
  padding-bottom: 20px;
}
.meddle-2-text1 p{
  color: #696969	;
  font-size: 15px;
  font-size: 1rem;
}
.meddle-2-bigbox{
  position: relative;
}
.meddle-2-bigbox::after{
  position: absolute;
  content:'';
  top: 0%;
  height: 90%;
  left: 20%;
  border:2px solid #432e56;
}
.bottom{
  max-width: 100%;
  height:600px;
  margin-top: 400px;
}
.bottom-text{
  height: 100px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.bottom-text h1{
  background: linear-gradient(45deg, #bfdae3	, #00bfff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  padding-bottom: 50px;
  font-size: 40px;
}
.bottom-img{
  width: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
  gap:10%;
}
.bottom-img-text{
  text-align: center;
  background-color: #fff5ee;
  border: 20px solid lightgoldenrodyellow;
  font-family: 標楷體;
}
.footer{
  max-width:100%;
  height:800px;
}
.footer-title{
  height: 100px;
  margin-top: 200px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.footer-title h1{
  background: linear-gradient(45deg, #bfdae3	, #00bfff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  padding-bottom: 50px;
  font-size: 40px;
}
.footer-Hexagon{
  width:217px;
  height:250px;
  background: linear-gradient(45deg, 	#00ffff	, #00bfff);
  -webkit-clip-path:polygon(50% 0%, 100% 25%,100% 75%,50% 100%,0% 75%,0% 25%);
  transition-duration: 1s;
  margin-right:50px;
  margin-left: 50px;
}
.footer-Hexagon:hover{
  background :linear-gradient(to top,#a9a9a9	,	#FFB630);
  width: 247px;
  height: 280px;
  font-size: 40px;
  transition-duration: 2s;
}
.footer-link{
  display: flex;
  justify-content:center;
  align-items:center;
  max-width:100%;
  flex-wrap: wrap;
}
.footer-text{
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  color: white;
  font-weight: 700;
}
.footer-text1{
  text-align: center;
  font-size: 15px; 
  font-weight:600;
  margin-top: -30px;
  color:#00A8A8;
  letter-spacing: 3px;
  transition-duration:1s;
}
.footer-text1:hover{
  font-size: 18px;
  transition-duration:1s;
}
.video{
  padding-left:400px;
  padding-bottom: 100px;
}
.contect{
  margin-top:50px;
  width: 100%;
  height: 420px;
}








